*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    position: relative;
}

/* .right{
    right: 0
} */

.coffee-1{
    width: 440px;
    height: auto;
    position: absolute;
    right: 0;
}

.coffee-2{
    width: 312px;
    height: auto;
    position: absolute;
    top: 285px;
    right: 40px;
}

.footer-box{
    background: #363032;
    height: 472px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}


